<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505600973269-red48ngdj3325rdni67s5b1limdn13h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505600973269-red48ngdj3325rdni67s5b1limdn13h1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9gTssUQ2-NbTU0hAVRob2mULp7I7Db6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>505600973269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nomad-tiktok-b</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-tiktok-b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505600973269:ios:ed08611035812cb207855c</string>
</dict>
</plist>